<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Welcome to alvinsaini.herokuapp.com this is my personal website you are welcomed to visit here"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="kwz2aSkFEAzlWuMWq_TAOMvvg68VCQRhjlPSic8aMzI" />
<!-- fonts links -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />
    <!--Title here-->
    <title>{%block title%} {%endblock title%}</title>
    <!--links here -->
    {%block links%} {%endblock links%}
    </head>
  <body>
    <!--Body comes here -->
    {%block body%}{%endblock body%}

    <!--New JavaScript here-->
    <script src="/static/js/base.js"></script>
     {%block script%}{%endblock script%}
  </body>
</html>
