<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Welcome to alvinsaini.herokuapp.com I am alvin saini this is my personal website (PORTFOLIO) you are welcomed to visit here"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="kwz2aSkFEAzlWuMWq_TAOMvvg68VCQRhjlPSic8aMzI" />
    
<!-- fonts links -->
<link rel="icon" href="/static/image/icon.png" type="image/png" sizes="16x16">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />
    <!--Title here-->
    <title>{%block title%} {%endblock title%}</title>
    <!--links here -->
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {%block links%} {%endblock links%}
    </head>
  <body>
    <!--Body comes here -->
    {%block body%}{%endblock body%}
    
  </body>
    <!--New JavaScript here-->
     <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
     {%block script%}{%endblock script%}
  </body>
</html>
