{%extends 'base.html'%}
<!-- Title of Page-->
{%block title%}Portfolio | Alvin Saini{%endblock title%}

<!-- Css of Page-->
{%block links%}
<link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css" />
{%endblock links%}

<!--Body of Page-->
{%block body%}
<nav>
  <div class="leftnav">
    <div>
      <a href="/simple"><h2>Alvin</h2></a>
      <a href="/simple"><h2>Saini</h2></a>
    </div>

  </div>
  <div class="rightnav">
    <a href="#contact" >Contact</a>
    <a href="#about" >About</a>
    <a href="#ido">What I Do</a>
    <a href="#skills" >Skills</a>
    <a href="#home" >Home</a>
  </div>
  <div class="burger">
    <svg
      height="32px"
      id="Layer_1"
      style="enable-background: new 0 0 32 32"
      version="1.1"
      viewBox="0 0 32 32"
      width="32px"
      xml:space="preserve"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
    >
      <path
        d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
      />
    </svg>
  </div>
</nav>

<main>
  <section id="home" class="first-sec ">
    <div class="mytext">
      <h1 >Hey I'm ALVIN SAINI</h1>
      <br />
      <h3 >I am a Programmer</h3>
    </div>
  </section>

  <section id="skills" class="second-sec ">
    <div class="heading">
      <h1>My Skills</h1>
    </div>
    <div class="skills">
      {% for skillname,value in skillist.items%}
      <div class="skill-div">
        <p class="  skill-name">{{skillname}}</p>
        <progress class="progressbar" value="{{value}}" max="100" />
      </div>
      {% endfor %}
    </div>
  </section>
  <hr>
  <hr>
  <section id="ido" class="third-sec ">
    <div class="heading   ">
      <h1>What Can I Do</h1>
    </div>
    <div class="dos-div">
      {% for dos in idos%}
      <div class="dos-box">
        <p class=" ">{{dos}}</p>
      </div>
      {% endfor %}
    </div>
  </section>
  
  <section id="about" class="fourth-sec ">
    <hr>
  <hr>
    <div class="heading   ">
      <h1>About Me</h1>
    </div>
    <div class="shadow-box">
      <p class=" ">{{about}}</p>
    </div>
    <hr>
    <hr>
  </section>

  <section id="contact" class="fifth-sec ">
    <div class="heading ">
      <h1>Contact Me</h1>
    </div>
    <div class="shadow-box">
      <form action="/submit" method="POST">
        {%csrf_token%}
        <div class="form-div">
          <label  >Name :</label>
          <input
            class="form-elements "
            name="name"
            type="text"
            placeholder="Enter Your Name"
            required
          />
        </div>
        <div class="form-div">
          <label >Email :</label>
          <input
            class="form-elements  "
            name="mail"
            type="email"
            placeholder="Enter Your Email"
            required
          />
        </div>
        <div class="form-div">
          <label  >Message :</label>
          <textarea
            class="form-elements  "
            name="desc"
            rows="5"
            required
          ></textarea>
        </div>
        <div class="submit-div">
          <input
            class="submit-btn"
            type="submit"
            value="submit"
          />
        </div>
      </form>
    </div>
  </section>
<hr><hr>
  <section class="sixth-sec">
  <div class="heading">
      <h1>Connect Me On</h1>
  </div>
  <div class="cnct-me">
    <a href="https://GitHub.com/codewithalvin/"
      ><i title="GITHUB" class="fab fa-github-square"></i
    ></a>
    <a href="https://twitter.com/Imalvinsaini"
      ><i title="TWITTER" class="fab fa-twitter"></i
    ></a>
    <a href="https://dev.to/codewithalvin"
      ><i title="DEV" class="fab fa-dev"></i
    ></a>
    <a href="https://www.linkedin.com/in/alvin-saini-96a193200/"
      ><i title="linkedin" class="fab fa-linkedin"></i
    ></a>
    <a href="https://alvinsaini.blogspot.com"
      ><i class="fab fa-blogger"></i
    ></a>
    <a href="mailto:codewithalvin@gmail.com"
      ><i title="Mail" class="fas fa-envelope"></i
    ></a>
  </div>
  </section>
</main>

{%endblock body%}
<!-- Script of Page-->
{%block script%}
<script src="/static/js/script.js"></script>
{%endblock script%}
